<div class="dropdown easy-filter-dropdown">
<%= hidden_field_tag("#{filter_prefixes[:main]}#{filter_prefixes[:exact]}#{filter[:field]}", request.params["#{filter_prefixes[:main]}#{filter_prefixes[:exact]}#{filter[:field]}"]) %>
<% button_text = "<span>#{filter[:label]}</span>" %>

<% filter[:items].each do |item|
  if request.params["#{filter_prefixes[:main]}#{filter_prefixes[:exact]}#{filter[:field]}"] == item[:value].to_s
    button_text = "<span class=\"label label-#{item[:color]}\">#{item[:text]}</span>"
    break
  end
end %>

<button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilterButton-<%= filter[:field] %>" data-toggle="dropdown"><%= button_text.html_safe %>
<span class="caret"></span></button>

<ul class="dropdown-menu dropdown-filter easy-filter-dropdown" aria-labelledby="dropdownFilterButton-<%= filter[:field] %>">
<% filter[:items].each do |item| %>
  <li role="presentation"><a role="menuitem" tabindex="-1" data-target="<%= item[:value] %>"><span class="label label-<%= item[:color]%>"><%= item[:text] %></span></a></li>
<% end %>
</ul>
</div>